@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i");

*::before,
*::after,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root,
.container {
  height: 100%;
}

body {
  font-family: Roboto sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
}

.body {
  flex: 1 0 auto;
}

.header,
.footer {
  flex-grow: 0;
}

@media only screen and (max-width: 48em) {
  .budget-list {
    flex-direction: column;
  }

  .budget-list > * {
    text-align: center;
  }
}
