*::before,
*::after,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root,
.container {
  height: 100%;
}

body {
  font-family: Roboto sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
}

.body {
  flex: 1 0 auto;
}

.header,
.footer {
  flex-grow: 0;
}

.pie-container {
  width: 250px;
  height: 250px;
  margin: 0 auto;
  margin-bottom: 0.5em;
}

li {
  word-break: break-all;
}

@media only screen and (max-width: 48em) {
  .budget-list {
    flex-direction: column;
  }
  .pie-container {
    display: none;
  }
  .inc-exp--header {
    flex-direction: column;
  }
  .inc-exp--header > * {
    margin-bottom: 2px !important;
  }

  .budg--header {
    margin-bottom: 8px !important;
  }
}

.form-control:focus {
  border-color: inherit;
  box-shadow: none;
}

.income:focus {
  outline: none !important;
  border: 3px solid blue;
}

.expense:focus {
  outline: none !important;
  border: 3px solid red;
}
